/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin-top: 0;
    padding: 0;
    background: linear-gradient(to bottom, #cacac9, #20202036);; 
}
/* title*/
h1 {
    text-align: center;
    margin-top: 20px;
    color: #646060
}

#calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Styling for the button container */
.beauty {
    display: flex;
    align-items: center; /* Vertically center align the buttons */
}

/* Styling for the buttons */
.beauty button {
    padding: 8px 12px;
    margin-right: 1px; /* Add spacing between buttons */
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #f0edd3, #11111036);  /* Default button color */
    color: #363030;
    cursor: pointer;
}
/* styling added holidays */
.holiday {
    border: 1px solid #9c9a9a;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 4px;
    text-align: left;
    width: 300px;
    background-color: #9b9a93;
}

#pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 40px;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination li a {
    text-decoration: none;
    color: #0b0c0c;
    border: 1px solid #a6a8aa;
    padding: 5px 10px;
}

.pagination li.active a {
    background-color: #595c5c;
    color: #e2d7d7;
}

.pagination li a:hover {
    background-color: linear-gradient(to right, #f0edd3, #f7d02636);
}

.nav-links {
    text-align: right;
    color: #232227;
    margin-top: 30px;
}

/* Container styling for signup page */
.signup-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
   
}

/* Container styling for signin page */
.signin-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

.signup-link,
.signin-link {
    margin-top: 10px;
    text-align: center;
}

.signup-link a,
.signin-link a {
    
    text-decoration: none;
    color: #78767c;
}

.signup-link a:hover,
.signin-link a:hover {
    text-decoration: underline;
    color: #5163b1;
}


h1 {
    text-align: left;
    margin-bottom: 20px;
}

.main {
    margin-bottom: 20px;
}

.lab {
    font-weight: bold;
}

.in {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.but {
    width: 100%;
    padding: 10px;
    border: 20;
    border-radius: 5px;
    background-color: #636568; 
    color: #fff;
    cursor: pointer;
}

.but:hover {
    background-color: #a6afaf; 
}

.edit{ 
    margin-bottom: 20px;
}

.please {
    text-align: left;
    margin-bottom: 20px;
}
.la  {
    font-weight: bold;
}

.inp {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.bu {
    width: 100%;
    padding: 10px;
    border: 20;
    border-radius: 5px;
    background-color: #636568; 
    color: #fff;
    cursor: pointer;
}

.bu:hover {
    background-color: #a6afaf; 
}

edit-container {
    font-family: Arial, sans-serif;
    margin-top: 0;
    padding: 0;
    background: linear-gradient(to bottom, #cacac9, #20202036);; 
}