<!-- templates/index_header.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="main-container"></div>
    <h1>Holiday Calendar</h1>
            <form  method="POST" class="holiday-main-form">
                <div class="main">
                    <label class="lab" for="name">Name:</label>
                    <input class="in" type="text" id="name" name="name" value="{{ holiday[2] }}">
                </div>
                <div class="main">
                    <label class="lab" for="date">Date:</label>
                    <input class="in" type="date" id="date" name="date" value="{{ holiday[1] }}">
                </div>
                <div class="main">
                    <label class="lab" for="description">Description:</label>
                    <textarea class="in" id="description" name="description" value="{{ holiday[3] }}"></textarea>
                </div>
                <div class="main">
                    <label class="lab" for="location">location:</label>
                    <input class="in" id="name" type="text" name="location" value="{{ holiday[5] }}">
                </div> 
                <button class="but" type="submit">Submit</button>
            </form>
        </div>  
    <div id="calendar" class="calendar">
     