<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Holiday Calendar</h1>
    <form action="{{ url_for('add_holiday') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
        <label for="location">location:</label>
        <input id="name" type="text" name="location" required>
        <button type="submit">Add Holiday</button>
    </form>
 
    <div id="calendar" class="calendar">
        {% for holiday in holidays %}
        <div class="holiday">
            <h4>{{ holiday[2] }}</h4>
            <p>Date: {{ holiday[1] }}</p>
            <p>Description: {{ holiday[3] }}</p>
            <p>Location: {{ holiday[5] }}</p>
            

        
            <form action="{{ url_for('like_holiday', holiday_id=holiday[0]) }}" method="post">
                <button type="submit">Like</button>
            </form> 
            <form action="{{ url_for('share_holiday', holiday_id=holiday[0]) }}" method="post">
                    <button type="submit">Share</button>
            </form> 
            <form action="{{ url_for('edit_holiday', id=holiday[0]) }}" method="get" style="display: inline;">
                <button type="submit">Edit</button>
            </form>
            <!-- Delete button -->
            <form action="{{ url_for('delete_holiday', id=holiday[0]) }}" method="post" style="display: inline;">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this holiday?')">Delete</button>
            </form>  
          
        </div>         
        {% endfor %}
    </div>
    <div id="pagination">
        {% if total_holidays > per_page %}
        <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page=page-1) }}">Previous</a>
            </li>
            {% endif %}
            {% for page_num in range(1, (total_holidays // per_page) + 2) %}
            <li class="page-item {% if page_num == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endfor %}
            {% if page < (total_holidays // per_page) + 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page=page+1) }}">Next</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>   
</body>
</html>
