<!-- templates/index_header.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <div class="nav-links">
            <a href="{{ url_for('signup') }}">Sign Up</a> |
            <a href="{{ url_for('signin') }}">Sign In</a> |
            <a href="{{ url_for('signout') }}">Sign Out</a> |
            <a href="{{ url_for('about') }}">About</a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
</head>
<body>
    <div class="main-container"></div>
    <h1>Holiday Calendar</h1>
            <form action="{{ url_for('add_holiday') }}" class="holiday-main-form" method="post">
                <div class="main">
                    <label class="lab" for="name">Name:</label>
                    <input class="in" type="text" id="name" name="name" required>
                </div>
                <div class="main">
                    <label class="lab" for="date">Date:</label>
                    <input class="in" type="date" id="date" name="date" required>
                </div>
                <div class="main">
                    <label class="lab" for="description">Description:</label>
                    <textarea class="in" id="description" name="description" required></textarea>
                </div>
                <div class="main">
                    <label class="lab" for="location">location:</label>
                    <input class="in" id="name" type="text" name="location" required>
                </div> 
                <button class="but" type="submit">Add Holiday</button>
            </form>
        </div>  
    <div id="calendar" class="calendar">
     