<!-- templates/index_header.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <div class="nav-links">
            <a href="{{ url_for('signup') }}">Sign Up</a> |
            <a href="{{ url_for('signin') }}">Sign In</a> |
            <a href="{{ url_for('signout') }}">Sign Out</a>
    </div>
</head>
<body>
    <h1>Holiday Calendar</h1>
    
            <form action="{{ url_for('add_holiday') }}" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
                <label for="location">location:</label>
                <input id="name" type="text" name="location" required>
                 
                <button type="submit">Add Holiday</button>
            </div>
            </form>
    
    <div id="calendar" class="calendar">
